{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">About</h1>
			<p class="lead">Zipcast was written in Python using the Flask web framework, as well as HTML and CSS using Bootstrap. It is hosted as a web application on Heroku. It uses the Current Weather Data API from <a href="https://openweathermap.org/">OpenWeatherMap</a>.</p>
			<p>The source code will be available on GitHub soon.</p>
			<hr class="my-4">
			<p class="centered-text">
				<a target="_blank" href="https://www.github.com/joydeepm02">
					<img class="social-icon" src="{{ url_for('static',filename='images/github.png') }}">
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a target="_blank" href="https://www.linkedin.com/in/joydeep-mukherjee-162ba71a4/">
					<img class="social-icon" src="{{ url_for('static',filename='images/linkedin.png') }}">
				</a>
			</p>
		</div>
	</div>
{% endblock content %}
