{% extends "layout.html" %}
{% block content %}
	<div class="container">
	<div class="jumbotron">
 		<h1 class="display-4">Welcome to Zipcast!</h1>
		<p class="lead">Zipcast is a simple web application that provides real-time information about the weather at a location based on the ZIP code.</p>
		<hr class="my-4">
		<p>This app was written in Python using the Flask web framework, as well as HTML and CSS using Bootstrap.</p>
		<a class="btn btn-primary btn-lg" href="tool" role="button">Check it out!</a>
		<a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>
	</div>
	</div>
{% endblock content %}
