html {
	height: 100%;
}

* {
	font-family: 'Bellota Text', cursive;
}

body {
	background-color: #DBDBDB;
}

.centered-text {
	text-align: center;
}

.navbar li a:hover {
	background-color: #0068D8;
}

.bg-custom-gradient {
	background-image: linear-gradient(to right, #007BFF, #03b5fc);
}

.jumbotron {
	background-color: #C4C4C4;
}

.social-icon {
	height: 5%;
	width: 5%;
}

.footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	background-color: #3175b5;
  	color: white;
	padding-top: 20px;
	padding-bottom: 0px;
}
